<script src="chat-card.component.ts"></script>
<app-connection-indicator [connectionState]="this.connectionState" [author]="this.author"
                          [topic]="this.topic"></app-connection-indicator>
<mat-toolbar style="display:flex; width:100%;" color="primary">
    <button mat-icon-button  matTooltip="Channel Options" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
        <mat-menu #menu>
            <mat-form-field class="example-full-width">
                <mat-label>Select A Bot</mat-label>
                <mat-select (click)="$event.stopPropagation()" (selectionChange)="this.setBot($event)" [(value)]="this.author">
                    <mat-option *ngFor="let bot of bots" [value]="bot.botName">{{bot.botName}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Select A Topic</mat-label>
                <input placeholder="CoopAndPabloPlayHouse" type="text" matInput [matAutocomplete]="auto"
                       [formControl]="this.topicForm.controls.topic"
                       (click)="$event.stopPropagation()">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of this.bots" [value]="option.topic">
                        {{option.topic}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Send Message to Bot?</mat-label>
                <mat-select (click)="$event.stopPropagation()" (selectionChange)="setAskBot($event)" [(value)]="this.askBot">
                    <mat-option [value]="true">True</mat-option>
                    <mat-option [value]="false">False</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-menu>
    </button>
    <button mat-icon-button matTooltip="Clear Chat" style="display: flex; margin:auto" (click)="this.clearChat()">
        <mat-icon matTooltip="Clear Chat">delete</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Refresh Chat" style="display: flex; margin:auto" (click)="this.refreshChat()">
        <mat-icon matTooltip="Refresh Chat">refresh</mat-icon>
    </button>
    <button mat-icon-button  matTooltip="Scroll To Last Message" style="display: flex; margin:auto" (click)="this.scrollToBottom()">
        <mat-icon matTooltip="Scroll To Last Message">last_page</mat-icon>
    </button>
    <button mat-icon-button  matTooltip="Connect to server" style="display: flex; margin:auto" (click)="connect()"
            *ngIf="connectionState === 'Disconnected'">
        <mat-icon matTooltip="Connect to server">offline_pin</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Disconnect" style="display: flex; margin:auto" (click)="disconnect()"
            *ngIf="connectionState === 'Connected'">
        <mat-icon matTooltip="Disconnect">offline_bolt</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Logout" style="display: flex; margin:auto" (click)="logout()">
        <mat-icon matTooltip="Logout">exit_to_app</mat-icon>
    </button>
</mat-toolbar>


<!--Main Chat stuff-->
<mat-card class="example-container">
    <div style="height: 600px; overflow-y:scroll" #scrollMe>
        <mat-list>
            <div class="example-container">
                <ng-container *ngFor="let message of messages;" (change)="message.isThinking">
                    <mat-expansion-panel class="mat-elevation-z0" expanded="true">
                        <mat-expansion-panel-header>
                            <ng-template [ngIf]="this.message.isThinking">
                                <mat-panel-title>
                                    <mat-icon color="primary">hourglass_empty</mat-icon>
                                    {{message.sender}}: ...
                                </mat-panel-title>
                            </ng-template>
                            <ng-template [ngIf]="!this.message.isThinking">
                                <mat-panel-title style="padding: 1px">
                                    <mat-icon color="primary">chat</mat-icon>
                                    {{message.sender}}:
                                    <div [innerHTML]="message.text.substring(0, 15) + '...'"></div>
                                </mat-panel-title>
                            </ng-template>
                        </mat-expansion-panel-header>
                        <chat-conversation-card [isImage]="message.sender === 'ImageBot'"
                                                [isThinking]="message.isThinking"
                                                [message]="message"></chat-conversation-card>
                    </mat-expansion-panel>
                </ng-container>
            </div>
        </mat-list>
    </div>
</mat-card>
<mat-form-field *ngIf="connectionState === 'Connected'" style="display: flex">
<textarea matInput [(ngModel)]="this.messageInput" placeholder="Type your message here (and hit enter to send)"
          (keydown.enter)="send()"></textarea>
    <button matSuffix mat-stroked-button (click)="send()" style="border: none; justify-self: left;">
        <mat-icon color="primary">send</mat-icon>
    </button>
</mat-form-field>


<style>
    .example-container mat-form-field + mat-form-field {
        margin-left: 8px;
    }

    .example-accordion-item + .example-accordion-item {
        border-top: none;
    }
    .example-full-width {
        width: 100%;
    }
</style>