<mat-card>
    <div style="overflow: scroll;  overflow-y: hidden;  overflow-x: hidden; height: 600px;" #scrollMe
         [scrollTop]="scrollMe.scrollHeight">
        <mat-list>
            <ng-container style="height:auto; width: 1200px" *ngFor="let message of messages">
                <mat-card style="max-width: 1200px;">
                    <mat-card-content>{{message.sender}}:<div [innerHTML]="message.text | marked"></div></mat-card-content>
                </mat-card>
            </ng-container>
        </mat-list>
    </div>
    <mat-form-field>
        <input matInput [(ngModel)]="messageInput" placeholder="Type your message here (and hit enter to send)"
               (keydown.enter)="send()">
    </mat-form-field>
</mat-card>
